*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.container {
  font-size: 20px;
  background-color: #cf858a5c;
  border: 2px solid grey;
  padding: 4px;
  margin: 4px;
  text-align: center;
}


body{
    font-family: 'montserrat',sans-serif;
    background:url(./bg.jpg)  ;
    background-size: cover;
    background-position: top center;
    
}       
.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(84, 66, 66, 0.6));
    
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px 15px 15px;
  }

  header input{
    
      width: 100%;
      max-width: 280px;
      padding: 5px 15px;
      border:none;
      outline: none;
      background-color: rgba(25, 24, 24, 0.3);
      border-radius: 16px 0px 16px 0px;
      border-bottom: 3px solid #DF8E00;
      margin-bottom: 20px;

      font-size: 15px;
      
      /* font-weight: 300; */
      transition: 0.2s ease-out;
    }
    

    header input:hover {
        background-color:rgba(213, 205, 205, 0.6) ;

        
        border-radius: 0px 16px 0px 16px;
        
    }
    header input:focus {
        background-color: rgb(187, 181, 181);
      }

    header .err{
      color: #FFF;
      font-size: 250%;
      margin-top: 10px;
      margin-bottom: 30px;
      display: none;
      font-family: 'Concert One', cursive;
      }
    header #mar{
      color:#FFF;
      font-size: 200%;
      font-family: 'Lobster', cursive;
     
      }

      main{
        /* flex :  1 1 100%; */
        padding: 0px 25px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .location .city {
        color: #FFF;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .location .date {
        color: #FFF;
        font-size: 16px;
        margin-top: 5px;
      }

      .location .lonlan {
        color: #FFF;
        font-size: 20px;
        margin-bottom: 13px;

      }


      
      .current .temp {
        color: #FFF;
        font-family: 'Abril Fatface', cursive;
        font-size: 550%;
        font-weight: 900;
        margin: 30px 0px;
        text-shadow: 2px 8px rgba(0, 0, 0, 0.6);
      }
      
      .current .temp span {
        font-weight: 500;
      }
      
      .current .weather {
        color: #FFF;
        font-size: 32px;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 15px;
        text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
      }
      
      .current .hi-low {
        color: #FFF;
        font-size: 24px;
        font-weight: 500;
        text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
      }
      .current .feel {
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
        margin-top: 15px;
      }






